/*body*/
body{
    margin: 0;
    padding: 0;
}
/* sect1*/
#sect1{
    background-image: url(../img/rawpixel-1130125-unsplash.jpg);
    height: 550px;
    background-size: cover;
}
.nav ul li {
    display: inline;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.nav ul
{
    display: inline-block;
    margin-left: 600px;
    background-clip: content-box;
    
}
.nav img{
    margin-left: 5kw0px;
    
}
.nav{
    padding: 20px;
    
    height: 30px;
}
.nav ul li a{
    text-decoration-line: none;
    color: black;
}
.active{
     color: aqua !important;    
}
#inn{
    width: 50%;
    float: right;
    text-align: center;
}
#inn p{
    width: 400px;
    font-size: 18px;
margin-left: auto;
margin-right: auto;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(235, 229, 229);

}
    #inn h1{
        margin-top: 20%;
        font-size: 35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #dad7d2;
    }
    .contact{
        height: 20px;
        width: 100px;
        background-color: aqua;
        margin: 0 auto;
        padding: 20px;
    }
.contact a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*second section*/
#sect2{
    height: 300px;
    background-color: rgb(235, 229, 229);
    padding: 0;
    margin: 0;
}
.sect2{
    width: 600px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
    
}
.sect2 h1{
    margin-top: 0;
    
    margin-left: 200px;
    margin-right: auto;
}
.sect2 img{
    margin-left: 120px;
}
.sect2 p{
    width: 600px;
    font-size: 18px;
margin-left: auto;
margin-right: auto;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ;
color: darkgray;
}

/*section three*/
#sect3{
    height: 500px;
    clear: both;
    background-color:#dad7d2;
}
.dright{
    background-image: url(../img/joanna-kosinska-476268-unsplash.jpg);
    background-size: cover;
    width: 50%;
    float: right;
    height: 500px;
}
.dleft{
    float: left;
    width: 50%;
    height: 500px;
}
.in{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
}
.in h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    
}
.in h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.in span{
    padding-left: 10px;
}

/* sect4 */

#sect4{
    margin: 0;
    padding: 0;
    background-color:rgb(63, 173, 177);
    height: 200px;;
}
.img{
    font-size:50px;
    margin-left: 30px;
}
.numb{
    font-size: 20px;
    margin-left: 20px;
    
    
}
.inn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
}
.innn{
    display: inline;
    margin-left: 80px;
}
.innn1{
    display: inline;
}
.innn1 h3{
    display: inline;
}


/* section five */
#sect5{
    height: 500px;
    background-color: rgb(226, 221, 230);
    padding: 0;
    margin: 0;
}
.col{
    width: 25%;
    height: 250px;
    background-color: rgb(63, 173, 177);
    display: inline-block;
    margin-right: -4px;
    background-size: contain;
    
}
.col1{
    width: 25%;
    height: 250px;
    background-color: #f9f9fa;
    display: inline-block;
    margin-right: -4px;
    background-size: contain;
    
}
.colin{
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding-top: 15%;

}
.col img{
    height: 80%;
    width: 80%;
}
.col1 img{
    height: 80%;
    width: 80%; 
}

#sect6{
    margin: 0;
    padding: 0;
    margin-top: -34.7px;
}
.lon{
    height: 100px;
    background-color: #f9f9fa;
    margin: 0;
    padding: 0;
    
}
.lon a{
    text-decoration-line: none;
    color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lonn{
    height: 20px;
    width:150px;
    
    margin:0 auto;
    padding: 40px;
    margin-top: 35px !important;
    display: block;
}

#sect7{
    height: 800px;
    background-color:#dad7d2 ;
    margin: 0;
    
}
.sec7 p{
    width: 600px;
    font-size: 18px;
margin-left: auto;
margin-right: auto;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', ;
color: whitesmoke;
}
.sec7 h1{
    margin-top: 0;
    padding-top: 60px;
    margin-left: 40%;
   
}
.secc7{
    height: 500px;
    width: 70%;
    background-image: url(../img/suke-tran-462029-unsplash.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-top: 50px !important;
    
}
.secc7 button{
    
    height:60px ;
    width: 60px;
    background-color: blue;
    margin-top: 200px;
    margin-left: 440px;
    visibility: visible;
    border-radius: 60px;
    border-color: blue;

}
.secc7 button i{
    font-size: 40px;
    margin-top:-2px;
    margin-left: 0px;
    color: aliceblue;
}

#sect8{
    height: 600px;
    background-color: #f9f9fa;
}
.col11{
    width: 25%;
    height: 300px;
    background-color: #f9f9fa;
    display: inline-block;
    margin-right: -4px;
    background-size: cover;
}
.col11 i{
    margin-top: 0;
    font-size: 40px;
    margin-left: 40%;
    
}
.col111{
    width: 80%;
    margin: 0 auto;
    ;
;
    }
.row{
    width: 80%;
    margin: 0 auto;
    
    height: 80%;
    margin-top: 10% !important;
    
}
.col11 h3{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col11 p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: wheat;
}